.center_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 300px;
    height: 300px;
    max-width: 90%;
    max-height: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    border: none;
}

.textarea {
    display: flex;
    width: 100%; /* Занимает всю доступную ширину */
    max-width: 90%;
    max-height: 70%;
    height: 30px;
    border-radius: 10px; 
    margin-top: 5px;
    resize: vertical; /* Разрешить изменение размеров по горизонтали и вертикали */
    overflow: hidden; /* Скрыть прокрутку */
}

.bqq {
    color: white;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px; 
    width: 100%; /* Занимает всю доступную ширину */
    max-width: 90%; /* Занимает всю доступную ширину */
    height: 30px; /* Учитывает padding и border в общей высоте элемента */
}

.vvod {
    display: flex;
    width: 100%; /* Занимает всю доступную ширину */
    max-width: 90%;/* Занимает всю доступную ширину */
    height: 30px;
    margin-top: 10px; 
}

.input {
    flex: 1; /* Занимает доступное пространство внутри flex-контейнера */
    height: 95%; /* Занимает всю высоту flex-контейнера */
    box-sizing: border-box;
    border-radius: 10px; /* Учитывает padding и border в общей высоте элемента */
    border: none;
    margin-right: 10px; 
}

.bqq3 {
    color: white;
    border: none;
    height: 90%; /* Занимает всю высоту flex-контейнера */
    width: 60px;
    box-sizing: border-box;
    border-radius: 10px; /* Учитывает padding и border в общей высоте элемента */
}
.bqq2 {
    color: white;
    border: none;
    height: 90%; /* Занимает всю высоту flex-контейнера */
    width: 45px;
    box-sizing: border-box;
    border-radius: 10px; /* Учитывает padding и border в общей высоте элемента */
}

.txt {
    left: 0px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 10px;
    color: #787878;
    letter-spacing: 2px;
    line-height: 1.4em;
    text-transform: uppercase;
    margin-top: 20px; 
    margin-bottom: 10px; 
 }