.App {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.App2 {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 3000;
  pointer-events: none;
}

.back {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(41, 41, 41, 0);
}

.con {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 70px;
  transition: 0.4s;
}

.con.open {
  right: calc(30% + 20px);
}

.con.openSmall {
  right: 330px;
}

.con.openLarge {
  right: 520px;
}

.search {
  background-color: rgb(23, 23, 23);
  height: 0px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition: 0.4s;
  overflow: hidden;
}

.search.open {
  height: 60%;
}

.topBar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
  left: 5px;
  right: 20px;
  top: 10px;
  z-index: 2;
}

.topBar.open {
  right: calc(30% + 20px);
}

.topBar.openSmall {
  right: 330px;
}

.topBar.openLarge {
  right: 520px;
}

.logo {
  width: 40px; /* Задайте желаемую ширину для логотипа */
  height: auto;
}

.button_svg * {
  color: white;
  fill: white;
}

.button_svg {
  width: 20px; /* Задайте желаемую ширину для логотипа */
  height: auto;
}

.input {
  flex: 1; /* Занимает всю доступную ширину */
  padding: 10px; /* Увеличиваем внутренний отступ */
  border: 2px solid #333; /* Добавляем обводку */
  border-radius: 20px; /* Закругление полей ввода */
  background-color: #fff;
}

.toggle_button {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  border-radius: 10px;
  right: 20px;
  height: 35px;
  width: 35px;
  transition: 0.4s;
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
}

.button_content {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
}


.toggle_button.open {
  right: calc(30% + 20px);
}

.toggle_button.openSmall {
  right: 330px;
}

.toggle_button.openLarge {
  right: 520px;
}


.gradient-button:hover {
  background-image: linear-gradient(to bottom, #45a049, #4CAF50);
}

.separator {
  border: none;
  height: 3px;
  background-image: linear-gradient(45deg, #0094FF, #DB00FF);
  margin: 30px 10px 10px 10px; /* Отступы сверху и снизу */
  border-radius: 5px; /* Закругление */
}

.text2x {
  color: #63B2EC;
  margin: 0px 0px 10px 10px;
  font-size: 13px;
}

.textx {
  color: #63B2EC;
  margin: 0px 0px 10px 10px;
  font-size: 10px;
}