/* Добавлены точки перед классами .b и .clr */
.b {
    flex: 1;
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
    height: 100%;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  
  .clr {
    width: 150px;
    height: 40px;
    top: 0px;
    border-radius: 15px;
    position: absolute;
    transition: 0.3s; /* Добавлено значение времени для transition */
  }
  
  .clr.pos1 {
    left: 0px;
  }
  
  .clr.pos3 {
    left: 150px;
  }
  
  button, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
  }