.menu {
    width: 0;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.4s;
    z-index: 3;
  }
  
  .menu.open {
    width: 30%;
  }

  .menu.openSmall {
    width: 310px;
  }

  .menu.openLarge {
    width: 500px;
  }

  .cent {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .txt {
    left: 20px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    color: #787878;
    letter-spacing: 2px;
    line-height: 1.4em;
    text-transform: uppercase;
    margin-top: 20px; 
    margin-bottom: 10px; 
 }