.colored {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20;
  }
.help{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}
  .leave_button {
    background-color: linear-gradient(45deg, #0094FF, #DB00FF);
    color: white; 
}
.toggle_button {
  background-color: linear-gradient(45deg, #0094FF, #DB00FF);
  color: white; 
}


.leave_button:hover {
    background-color: linear-gradient(45deg, #0094FF, #DB00FF);
}

.sub_button {
    background-color: linear-gradient(45deg, #0094FF, #DB00FF);
    color: white; 
}

.sub_button:hover {
    background-color:linear-gradient(45deg, #0094FF, #DB00FF);
}

.delete_button {
    background-color: linear-gradient(45deg, #0094FF, #DB00FF);
    color: white; 
}

.delete_button:hover {
    background-color: linear-gradient(45deg, #0094FF, #DB00FF);
}

.delete_button_block {
  position: absolute;
  right: 0;
  background-color: linear-gradient(45deg, #0094FF, #DB00FF);
  color: white; 
}

.delete_button_block:hover {
  position: absolute;
  right: 0;
  background-color: linear-gradient(45deg, #0094FF, #E356FA);
}

.container_info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
}

.inf{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  background-color:  linear-gradient(45deg, #0094FF, #DB00FF);
  min-height: 25px;
  font-size: 15px;
  pointer-events: all;
}

.button {
  z-index: 1100;
  height: 30px;
  max-width: 30px;
  background-color: #333;
  color: white;
  border: none;
  text-align: center;
  align-items: center;
  border-radius: 10px; /* Закругление краев */
  font-size: 20px; /* Размер шрифта */
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  margin: 5px;
}

.button12 {
  z-index: 1100;
  height: 30px;
  max-width: 300px;
  background-color: #333;
  color: white;
  border: none;
  text-align: center;
  align-items: center;
  border-radius: 10px; /* Закругление краев */
  font-size: 20px; /* Размер шрифта */
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  margin: 5px;
}


.block {
  z-index: 800;
  position: absolute;
  width: 300px;
  height: 300px;
  pointer-events: all;
  overflow: hidden;
}

.text {
  color: rgb(138, 138, 138);
  font-size: 20px; 
  margin-left: 5px; 
  margin-bottom: 10px; 
  margin-top: 20px;
}

.text2 {
  color: rgb(138, 138, 138);
  font-size: 15px; 
  margin-left: 5px; 
  margin-bottom: 10px; 
  margin-top: 20px;
}

.max_text {
  color: rgb(138, 138, 138);
  font-size: 25px; 
  margin-left: 5px; 
  margin-bottom: 10px; 
  margin-top: 20px;
}

.name {
  color:#333;
  font-size: 30px; 
  margin-left: 5px; 
  margin-bottom: 5px; 
  margin-top: 5px;
}

.menu {
  background-color: #333;
  position: absolute;
  height: 0;
  width: 100%;
  overflow-x: hidden;
  transition: 0.7s;
  z-index: 100;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings {
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  transition: 0.7s;
  z-index: 100;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu.open {
  height: 100%;
}

.Xbutton {
    background-image: linear-gradient(45deg, #0094FF, #DB00FF);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    border-radius: 10px;
    right: 20px;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px
}

.Xbutton1 {
  background-color: rgb(153, 93, 93);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px
}

.Xbutton3 {
  background-color: rgb(148, 12, 12);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px
}
.Xbutton4 {
  background-color: rgb(242, 0, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px
}

.upload {
  background-color: rgb(138, 138, 138);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
}

.colour_picker {  display: flex;
  justify-content: center; /* Центрирование по горизонтали */}
  
  .form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
  }
  
  .input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .wordStyle {
    background-color: #d3d3d3;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
}

.wordListContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.wordList {
  display: flex;
  flex-wrap: wrap; /* Allow words to wrap to the next line if they exceed the width */
}
